body {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: darkolivegreen;
}

p, h1, h2 {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    width: 40%;
    font-size: 30px;
    border-radius: 17px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
  }

.button {
    
}

#content-background {
    background-color: blue;
    width: 50%;
    height: 60%;
}

.button-group-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
} 

#page-title-container {
    background-color: red;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 3rem;
}

#page-subtitle-container{
    background-color: red;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}