body {
    background-color: darkolivegreen;
}

p, h1, h2 {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }

.button-group-homepage {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} 

.homepage-titles {
    align-items: center;
    display: flex;
    flex-direction: column;
}