body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
    margin: 0; 
    background-color: darkolivegreen;
}

p, h1, h2 {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    width: 40%;
    height: 10%;
    font-size: 1.5rem;
    border-radius: 17px;
    margin-top: 20px;
    cursor: pointer;
  }

#content-background {
    background-color: blue;
    width: 50%;
    min-height: 70vh;
    border-radius: 1.5rem;
}

.button-group-homepage {
    display: flex;
    align-items: center;
    /*background-color:aqua;*/
    width: 100%;
    padding-top: .5rem;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
} 

#page-title-container {
    /*background-color: red;*/
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 3rem;
}

#page-subtitle-container{
    /*background-color: red;*/
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
}